<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.vorburger.ch/xtext/sandbox/LearnJvmType"
			class = "ch.vorburger.xtext.sandbox.learnJvmType.LearnJvmTypePackage"
			genModel = "model/generated/LearnJvmType.genmodel" />
	</extension>
</plugin>
