<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestModel3 -->
      <package
            uri="testmodel3"
            class="testmodel3.Testmodel3Package"
            genModel="model/TestModel3.xcore"/>
   </extension>

</plugin>
